<app-title title="Defer Triggers"></app-title>
<section>
  <h1 class="text-xl">Interacciones</h1>
  <hr class="my-2" />
  @defer(on interaction){
  <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
    <span>on click interaccion</span>
  </app-heavy-loaders-fast>
  }@placeholder {
  <div class="w-full h-20 bg-purple-100">Click in div</div>
  }
</section>
<section>
  <hr class="my-2" />
  <button
    #btnInteraction
    class="p-2 bg-blue-500 hover:bg-blue-700 transition-all rounded text-white my-2"
  >
    Click me
  </button>
  @defer(on interaction(btnInteraction)){
  <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
    <span>on button click interaccion</span>
  </app-heavy-loaders-fast>
  }@placeholder {
  <div class="w-full h-20 bg-purple-100">placeholder div</div>
  }
</section>
<section>
  <hr class="my-2" />
  @defer(on hover(btnInteraction)){
  <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
    <span>on button hover interaccion</span>
  </app-heavy-loaders-fast>
  }@placeholder {
  <div class="w-full h-20 bg-purple-100">placeholder div</div>
  }
</section>
<section>
  <hr class="my-2" />
  @defer(on hover){
  <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
    <span>on hover interaccion</span>
  </app-heavy-loaders-fast>
  }@placeholder {
  <div class="w-full h-20 bg-purple-100">placeholder div</div>
  }
</section>
<section>
  <hr class="my-2" />
  @defer(on immediate){
  <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
    <span>just after load the application</span>
  </app-heavy-loaders-fast>
  }@placeholder {
  <div class="w-full h-20 bg-purple-100">placeholder div</div>
  }
</section>
<section>
  <hr class="my-2" />
  @defer(on timer(2000)){
  <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
    <span>two seconds after load the application</span>
  </app-heavy-loaders-fast>
  }@placeholder {
  <div class="w-full h-20 bg-purple-100">placeholder div</div>
  }
</section>
<section>
  <hr class="my-2" />
  @defer(on hover; prefetch on idle){
  <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
    <span
      >on hover, with prefetch(carga el codigo previamente pero no lo ejecuta
      hasta que ocurre el trigger) util para componentes grandes</span
    >
  </app-heavy-loaders-fast>
  }@placeholder {
  <div class="w-full h-20 bg-purple-100">placeholder div</div>
  }
</section>
